<a href="https://colab.research.google.com/github/Shivani11032006/Daily-work/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df_sorted = df.sort_values(by='Age', ascending=False)
print("\nDataFrame sorted by Age in descending order:")
print(df_sorted)

Original DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4      Eve   45        Houston

DataFrame sorted by Age in descending order:
      Name  Age           City
4      Eve   45        Houston
3    David   40        Chicago
2  Charlie   35    Los Angeles
1      Bob   30  San Francisco
0    Alice   25       New York

In [6]:
import pandas as pd
data = {
    'Age': [25, None, 30, 35, None,4.5],
    'Height': [5.5, 6.1, 5.9, None, 5.8, 5.2],
    'HelmetStatus': [1, None, 1, 0, 1, 1],
    'Gender': ['M', 'F', 'M', None, 'F', 'M'],
    'Experience': [2, 4, 6, 1, None,None]
}
df = pd.DataFrame(data)
print("Original DataFrame with missing values:")
print(df)
df_filled_mean = df.copy()
df_filled_median = df.copy()
df_filled_mode = df.copy()
df_filled_mean['Age'].fillna(df['Age'].mean(), inplace=True)
df_filled_mean['Height'].fillna(df['Height'].mean(), inplace=True)
df_filled_mean['Experience'].fillna(df['Experience'].mean(), inplace=True)
df_filled_median['Age'].fillna(df['Age'].median(), inplace=True)
df_filled_median['Height'].fillna(df['Height'].median(), inplace=True)
df_filled_median['Experience'].fillna(df['Experience'].median(), inplace=True)
df_filled_mode['Gender'].fillna(df['Gender'].mode()[0], inplace=True)
df_filled_mode['HelmetStatus'].fillna(df['HelmetStatus'].mode()[0], inplace=True)
print("\nDataFrame after filling missing values with mean:")
print(df_filled_mean)
print("\nDataFrame after filling missing values with median:")
print(df_filled_median)
print("\nDataFrame after filling missing values with mode:")
print(df_filled_mode)

Original DataFrame with missing values:
    Age  Height  HelmetStatus Gender  Experience
0  25.0     5.5           1.0      M         2.0
1   NaN     6.1           NaN      F         4.0
2  30.0     5.9           1.0      M         6.0
3  35.0     NaN           0.0   None         1.0
4   NaN     5.8           1.0      F         NaN
5   4.5     5.2           1.0      M         NaN

DataFrame after filling missing values with mean:
      Age  Height  HelmetStatus Gender  Experience
0  25.000     5.5           1.0      M        2.00
1  23.625     6.1           NaN      F        4.00
2  30.000     5.9           1.0      M        6.00
3  35.000     5.7           0.0   None        1.00
4  23.625     5.8           1.0      F        3.25
5   4.500     5.2           1.0      M        3.25

DataFrame after filling missing values with median:
    Age  Height  HelmetStatus Gender  Experience
0  25.0     5.5           1.0      M         2.0
1  27.5     6.1           NaN      F         4.0
2  30.0     5.9           1.0      M         6.0
3  35.0     5.8           0.0   None         1.0
4  27.5     5.8           1.0      F         3.0
5   4.5     5.2           1.0      M         3.0

DataFrame after filling missing values with mode:
    Age  Height  HelmetStatus Gender  Experience
0  25.0     5.5           1.0      M         2.0
1   NaN     6.1           1.0      F         4.0
2  30.0     5.9           1.0      M         6.0
3  35.0     NaN           0.0      M         1.0
4   NaN     5.8           1.0      F         NaN
5   4.5     5.2           1.0      M         NaN

<ipython-input-6-ae4f1ee34d2f>:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mean['Age'].fillna(df['Age'].mean(), inplace=True)
<ipython-input-6-ae4f1ee34d2f>:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mean['Height'].fillna(df['Height'].mean(), inplace=True)
<ipython-input-6-ae4f1ee34d2f>:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mean['Experience'].fillna(df['Experience'].mean(), inplace=True)
<ipython-input-6-ae4f1ee34d2f>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_median['Age'].fillna(df['Age'].median(), inplace=True)
<ipython-input-6-ae4f1ee34d2f>:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_median['Height'].fillna(df['Height'].median(), inplace=True)
<ipython-input-6-ae4f1ee34d2f>:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_median['Experience'].fillna(df['Experience'].median(), inplace=True)
<ipython-input-6-ae4f1ee34d2f>:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mode['Gender'].fillna(df['Gender'].mode()[0], inplace=True)
<ipython-input-6-ae4f1ee34d2f>:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mode['HelmetStatus'].fillna(df['HelmetStatus'].mode()[0], inplace=True)

In [11]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
duplicates = df[df.duplicated()]
print("\nIdentified Duplicates:")
print(duplicates)
df_deduplicated = df.drop_duplicates()
print("\nDataFrame after removing duplicates:")
print(df_deduplicated)
df_cleaned = df.drop_duplicates(subset=['Name'])
print("\nDataFrame after removing duplicates based on 'Name' column:")
print(df_cleaned)

Original DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2    Alice   35    Los Angeles
3  Charlie   40        Chicago
4      Bob   45        Houston

Identified Duplicates:
Empty DataFrame
Columns: [Name, Age, City]
Index: []

DataFrame after removing duplicates:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2    Alice   35    Los Angeles
3  Charlie   40        Chicago
4      Bob   45        Houston

DataFrame after removing duplicates based on 'Name' column:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
3  Charlie   40        Chicago